body {
    font-family: Poppins;
    padding: 20px;
    margin: 0;
    font-size: 1em;
    background-color: #EEEEEE;
    height: 100vh;
    
}

section {
    height: 100vh;
    
}
.give-space {
    padding-top: 4rem;
}

.container-nav {
    display: flex;   
    justify-content: space-between;
    /* position: fixed;  */
    
    
}


.nav-left-part {
    display: flex;
    flex-direction: row;
}

.nav-right-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    right: 0;
    padding-right: 20px;
}

.dlt-clr {
   text-decoration: none; 
   color: black;
   
}

.dlt-clr:hover {
    color: #B6BBC4;
}

.nav-right-part {
    word-spacing: 1rem;
}

.whole-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    margin-top: 5rem;
    
}

.left-side  {
    margin-left: 15%;
}

.right-side {
    margin-right: 15%;
    margin-left: 2%;

}

.left-side {
    animation: bounce-in-left 2.2s ease;
}

@keyframes bounce-in-left {
0% {
    opacity: 0;
    transform: translateX(-2000px);
}
60% {
    opacity: 1;
    transform: translateX(30px);
}
80% {
    transform: translateX(-10px);
}
100% {
    transform: translateX(0);
}
}


h1 {
    font-size: 4em;
    margin: 0;
    margin-left: 0rem;
    animation: bounce-in-left 2s ease;
}

h1::first-letter {
    font-size: larger;
    color: #B6BBC4;
  }
  

@keyframes bounce-in-left {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}


.circle-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.circles {
    border:2px solid black;
    border-radius: 35px;
    width: 10rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    /* margin-left: 1rem; */
    cursor: pointer;
    transition: all 0.5s ease;
    line-height: 2rem;
    
} 

a.force {
    text-decoration: none;
    color: black;   
}
.force:hover {
    color: white;
}

.circles:hover {
    transform: scale(1.1) rotate(0deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #cacdd6;
    /* color: white!important; */
    border: none;
    
}

.haha {
    animation: bounce-in-right 2.5s ease;
}
@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.haha1 {
    animation: bounce-in-right 2s ease ;
}
@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.haha2 {
    animation: bounce-in-right 2.3s ease ;
}
@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.haha3, #input-submit {
    animation: bounce-in-right 1.8s ease;
    padding-inline-start: 1rem;
    
}
@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

h2 {
    opacity: 70%;
    letter-spacing: 0.3rem;
}

.pjt-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem; /*OHH HELL NAAH*/
    margin-bottom: 5rem;
    
}

.pjt-1 img {
    border-radius: 1rem;
    margin-right: 2rem;
}

#pjt-info {
    margin: 4rem 7rem 0rem 8rem;
    
}

.aperçu-btn {
    height: 3rem;
    width: 7rem;
    border: 2px solid;
    color: black;
    font-weight: bold;
    border-radius: 2rem;
    text-align: center;
    box-shadow: gray 0px 5px 8px 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}

button:hover {
    background-color: #cacdd6;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transition-duration: 0.7s;
    transform: scale(1.2) rotate(0deg);
    
}

.btn-container {
    display: flex;
    justify-content: center;
}

.aperçu-btn, #resume-btn, #input-name, #input-email, #input-subject, #input-message {
    animation: bounce-in 2s ease;
}

@keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
}

.resume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 12rem;
    
}

.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume-sec {
    margin-top: 6rem;
}

#resume-btn {  
    width: 13rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #EEEEEE;
    font-weight: bold; 
    border:2px solid;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: gray 0px 5px 8px 0px;
}

a#anchor {
    text-decoration: none;
}

#resume-btn:hover {
    background-color: #cacdd6;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transition-duration: 0.7s;
    transform: scale(1.1) rotate(0deg);
    
}

#pic:hover {
    transition-duration: 0.7s;
    transform: scale(1.1) rotate(0deg);
}

#resume-btn > img {
    margin-left: 1rem;
}

footer {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    font-size:small;

}

@media screen and (max-width: 505px) {

    section {
        height: auto;
    }
    .pjt-1 {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
       
    }
    article {
        margin-top: 30px;
    }
    button.aperçu-btn {
        margin-top: 20px;
    }
    .pjt-1 p, .pjt-1 img, .btn-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .pjt-1 {
        margin-top: 40px;
    }
    #img-logo, .circle-container {
        display: none;
    }
    #pjt-info {
        order: 2;
    }
    p#pjt-info {
        margin: 10px 25px 0px 25px;
        width: 100%;
        text-align: center;
    }
    div.nav-right-part {
        display: none;
    }
    div.right-side {
        text-align: center;
        width: 100%;
        
    }
    .resume-container {
        display: flex;
        flex-wrap: wrap;
    }
    div.whole-content {
        display: block;
        padding-left: 0px;
        padding-right: 22px;
        
    }
    .nav-left-part, .right-side {
        font-size: smaller;
    }
    article.resume-container {
        padding-top: 12px;
    }
    #resume-sec {
        margin-top: 12px;
    }
    .resume-btn {
        margin-top: 20px;
    }
    img#pic {
        width: 370px;
        border-radius: 25px;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
}

/* Styles for the form */
form {
  max-width: 600px; 
  text-align: center; 
  margin: 20px auto; 
  
}

/* Styles for input and textarea */
form input,
form textarea {
  border: 0; 
  outline: 0; 
  padding: 1em; 
  border-radius: 8px; 
  display: block; 
  width: 100%; 
  margin-top: 1em; 
  font-family: 'Merriweather', sans-serif; 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
  resize: none; 

  /* Styles for input and textarea when focused */
  &:focus {
    box-shadow: 0 0px 2px rgb(95, 93, 93) !important; 
  }
}

/* Styles for the submit button */
#input-submit {
    margin-left: 1rem;
  color: white; 
  background: black; 
  cursor: pointer; 
}
#input-submit:hover {
    transition: background-color 0.3s ease;
    background-color: #333; 
}

textarea {
  height: 126px; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Modal */


.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5 );
    
    .modal {
        text-align: center;
        padding: 50px;
        border-radius: 1rem;
        background-color: #EEEEEE;

        img {
            width: 100px;
            
        }

        p:nth-child(2) {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 1px;
        }

        .btn {
            height: 3rem;
            width: 7rem;
            border: 1px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
            border-radius: 2rem;
            text-align: center;
            box-shadow: gray 0px 5px 8px 0px;
            transition: all 0.5s ease;
            cursor: pointer; 
           margin-top: 15px; 
           margin-bottom: -20px;
           &:hover {
            border-color: black;
            color: whitesmoke;
           }
        }
    }
}

.display-none {
    display: none;
}

















  